#main {
    width: fit-content;
    justify-content: center
}
h1 {
    color: #ffffff;
    font-size: 38.5px;
    font-weight: 700;
}
input {
    border: none;
    border-bottom: solid #8f8f8f 1px;
    margin-bottom: 33px;
    background: none;
    color: #ffffff8e;
    height: 38.5px;
    width: 330px;
}
#submit, #register {
    width: 214.5px;
    border: none;
    border-radius: 8px;
    font-size: 16.5px;
    transition: all 1s;
    margin-right: 5.5px;
}
#register {
    width: 110px;
}
#submit:enabled, #register:enabled {
    box-shadow: 2.2px 2.2px 7.7px #38d39f70;
    background: #38d39f;
    color: #ffffffcc;
    cursor: pointer;
}
#submit:disabled, #register:disabled {
    background: #333333;
    color: #ffffff28;
    cursor: not-allowed;
}
#submit:enabled:hover, #register:enabled:hover {
    color: #ffffff;
    box-shadow: none;
}
.input_cred {
    position: relative;
    top: 7.7px;
}
.subtitle {
    position: absolute;
    padding-left: 5.5px;
    font-size: 12.1px;
    color: #b1b1b14d;
}
a {
    font-size: 12.1px;
    cursor: pointer;
    position: relative;
    bottom: 17px;
    color: #38d39fd8;
}
.error {
    color: #ff4b4b;
    text-align: center;
    text-shadow: 0 0 15px #ff4b4bb4;
    margin: auto;
    margin-bottom: 15px;
    margin-top: -15px;
    width: calc(100% - 50px);
}
.success {
    color: #00ffaa;
    text-align: center;
    text-shadow: 0 0 15px #00ffaa93;
    margin: auto;
    margin-bottom: 15px;
    margin-top: -15px;
    width: calc(100% - 50px);
}