<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login page for website fini8.eu and the main/home page for users who are not registered.">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/stylesheets/default.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/stylesheets/login.css')}}">
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='/images/favicon.png')}}">
    </head>
    <body>
        <div id="main">
            <form action="{{url_for('app.handle_data')}}" method="post" autocomplete="off" enctype="application/x-www-form-urlencoded" id="form">
                <h1>Login</h1>
                <label for="user" class="subtitle">Username</label>
                <input type="text" name="user" class="input_cred" oninput="checkInput()"><br>
                <label for="pass" class="subtitle">Password</label>
                <input type="password" name="pass" class="input_cred" oninput="checkInput()"><br>
                <!-- <a href="{{url_for('app.handle_data')}}">Forgot Username or Password</a><br> -->
                <input type="submit" name="method" value="Login" id="submit" disabled>
                <input type="submit" name="method" value="Register" id="register">
            </form>
        </div>
        <script>
            function checkInput() {
                let elements = document.getElementsByClassName("input_cred");
                let button = document.getElementById("submit");
                if (elements[0].value.length > 0 && elements[1].value.length > 0) {
                    button.removeAttribute('disabled');
                }
                else {
                    button.setAttribute('disabled', '');
                };
            };

            let error = '{{error}}';
            let success = '{{success}}';
            function displayError(error, className) {
                let divChild = document.createElement("div");
                let target = document.getElementById("main");
                divChild.innerHTML = error;
                divChild.className = className;
                divChild.style.width = parseInt(getComputedStyle(target).width) - 10 + "px";
                target.appendChild(divChild);
            }
            if (error !== 'None') {
                displayError(error, 'error');
            };
            if (success !== 'None') {
                displayError(success, 'success');
            };
            
            let form = document.getElementById("form");
            form.addEventListener('submit', function(event) {
                let targetStyle = getComputedStyle(form);
                let loading = document.getElementById("loading");
                let loading_outer = document.getElementById("loading_outer");
                loading_outer.style.width = parseInt(targetStyle.width) + "px";
                loading_outer.style.height = parseInt(targetStyle.height) + "px";
                if (parseInt(targetStyle.width) < parseInt(targetStyle.height)) {
                    loading.style.width = parseInt(targetStyle.width) / 3 + "px";
                    loading.style.height = parseInt(targetStyle.width) / 3 + "px";
                }
                else {
                    loading.style.width = parseInt(targetStyle.height) / 3 + "px";
                    loading.style.height = parseInt(targetStyle.height) / 3 + "px";
                };
                loading.style.display = 'block';
                if (success !== 'None') {
                    document.getElementsByClassName('success')[0].style.display = 'none';
                };
                if (error !== 'None') {
                    document.getElementsByClassName('error')[0].style.display = 'none';
                };
                form.style.display = 'none';
            });
        </script>
    </body>
</html>